$gunmetal: #3D464D;
$charcoal-blue: #374151;
$dark-slate: #171717;
$midnight-gray: #252525;
$charcoal-gray: #383838;
$jet-black: #1a1a1a;
$silver-1: #c7c7c7;
$pearl-gray: #fbfbfb;
$steel-gray: #626262;
$red: #FF4141;
$white: #FFFFFF;
$light-gray: #f3f3f3;
$platinum: #e2e2e2;
$dim-gray: #454545;
$light-silver: #ebebeb;
$coral-red: #ff5a5a;
$cart-item-promo-code-p: #555;
$gainsboro: #eaeaea;
$black: #000000;
$silver: #ededed;
$transparent-green: #e1ffea22;
$dark-gray: #090909;
$reddish-pink: #D32240;
$dark-gray-1: #3d3d3d;
$charcoal: #1c1c1c;
$gray: #818181;
$dim-gray-1: #656565;
$dim-gray-2: #5c5c5c;
$light-gray-1: #c9c9c9;
$red-1: #FF0000;
$medium-gray: #7a7a7a;
$medium-gray-1: #515151;